<kendo-grid
    [kendoGridBinding]="gridView"
    kendoGridSelectBy="id"
    [pageSize]="pageSize"
    [pageable]="pageable"
    [sortable]="sortable"
    [groupable]="groupable"
    [reorderable]="reorderable"
    [resizable]="resizable"
    [height]="gridHeight"
    [columnMenu]="{ filter: true }"
  >
    <ng-template kendoGridToolbarTemplate *ngIf="searchable">
      <input
        placeholder="Search in all columns..."
        kendoTextBox
        (input)="onFilter($event)"
      />
    </ng-template>

    <kendo-grid-column
      *ngFor="let column of columnConfig"
      [field]="column.alias"
      [autoSize]="false"
      [title]="resolveDefault(column.title, column.alias)"
      [width]="resolveDefault(column.width, 300)"
      [hidden]="resolveDefault(column.hidden, false)"
    >
      <ng-template kendoGridCellTemplate let-item>
        <div [ngSwitch]="item[column.alias].type">
          <div *ngSwitchCase="'list'">{{ item[column.alias]?.join(', ') }}</div>
          <div *ngSwitchCase="'date'">{{ item[column.alias] | date:'short' }}</div>
          <div *ngSwitchCase="'boolean'">{{ item[column.alias] ? 'TRUE' : 'FALSE' }}</div>
          <div *ngSwitchDefault>{{ item[column.alias] }}</div>
        </div>
      </ng-template>
    </kendo-grid-column>
</kendo-grid>