.nav_container {
    display: flex;
    margin-bottom: 10px;

    a {
        color: rgb(32, 185, 246);
        margin-right: 12px;
        padding: 8px;
        border: 1px solid rgb(97, 90, 76);
        border-radius: 6px;
        text-decoration: none;
        text-transform: uppercase;
        opacity: 0.6;
        transform: all 0.2s;
    }

    a:hover {
        opacity: 0.8;
    }

    .active {
        color: rgb(17, 108, 255);
        opacity: 1;
    }
}