.nav_container {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;

    $btn-color: rgb(255, 170, 0);

    a {
        color: rgb(0, 0, 0);
        margin-right: 12px;
        padding: 8px;
        border-radius: 2px;
        border: 2px solid $btn-color;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.2s;
        opacity: 0.75;
    }

    a:hover:not(.active) {
        background: $btn-color;
    }

    .active {
        background: $btn-color;
        color: rgb(251, 251, 251);
        opacity: 1;
    }
}