<kendo-grid [kendoGridBinding]="_columnConfig">
  <ng-template kendoGridToolbarTemplate>  
    <button
      (click)="closeClicked()"
      class="k-button"
    >
      <span class="k-icon k-i-arrow-left"></span>
      <span>Back</span>
    </button>
  </ng-template>

  <kendo-grid-column title="Columns">
    <ng-template kendoGridCellTemplate let-column>
      <div class="row">
        <div class="name_section">
          {{ column.title || column.alias }}
        </div>
  
        <div class="section">
          <span>Width</span>
          <input
            kendoTextBox
            type="number"
            [formControl]="getControl(column)"
            [(ngModel)]="column.width"
          >
        </div>

        <div class="section">
          <span>Locked</span>
          <input
            kendoCheckBox
            type="checkbox"
            (change)="checkBoxChanged(column, 'locked')"
          >
        </div>

        <div class="section">
          <span>Hidden</span>
          <input
            kendoCheckBox
            type="checkbox"
            value="1"
            (change)="checkBoxChanged(column, 'hidden')"
            [(ngModel)]="column.hidden"
          >
        </div>
      </div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>