<app-common-table
  [columnConfig]="columnConfig$ | async"
  [data]="computers$ | async"
  [gridHeight]="540"
  [pageSize]="5"
  [pageable]="{
    buttonCount: 5,
    info: true,
    type: 'numeric',
    pageSizes: [5, 10],
    previousNext: true
  }"
  [resizable]="false"
  [reorderable]="false"
  [loading]="loading$ | async"
  [editable]="true"
  [removable]="true"
  [canCreate]="true"
  (onItemAdd)="addComputer($event)"
  (onItemEdit)="editComputer($event)"
  (onItemRemove)="removeComputer($event)"
></app-common-table>