<kendo-grid
    [data]="gridData"
    kendoGridSelectBy="id"
    [pageable]="pageable"
    [sortable]="sortable"
    [groupable]="groupable"
    [reorderable]="reorderable"
    [resizable]="resizable"
    [height]="gridHeight"
    [columnMenu]="{ filter: true }"
    [loading]="_loading"
    [skip]="resolveDefault(state.skip, 0)"
    [pageSize]="resolveDefault(state.take, 5)"
    (pageChange)="pageChange($event)"
  >
    <kendo-grid-column
      *ngFor="let column of _columnConfig"
      [field]="column.alias"
      [autoSize]="false"
      [title]="resolveDefault(column.title, column.alias)"
      [width]="resolveDefault(column.width, 300)"
      [hidden]="resolveDefault(column.hidden, false)"
    >
      <ng-template kendoGridCellTemplate let-item>
        <ng-container *ngTemplateOutlet="column.customTemplate || column.template || null; context: {item: item[column.alias]}"></ng-container>
      </ng-template>
    </kendo-grid-column>
</kendo-grid>