<kendo-grid
    [data]="gridData"
    [sortable]="sortable"
    [pageable]="pageable"
    [filterable]="filterable"
    [groupable]="groupable"
    [reorderable]="reorderable"
    [resizable]="resizable"
    [height]="gridHeight"
    [loading]="_loading"
    [sort]="sort"
    [filter]="state.filter || defaultFilter"
    [skip]="resolveDefault(state.skip, 0)"
    [pageSize]="resolveDefault(state.take, 5)"
    (pageChange)="pageChange($event)"
    (sortChange)="sortChange($event)"
    (filterChange)="filterChange($event)"
  >
    <kendo-grid-column
      *ngFor="let column of _columnConfig"
      [field]="column.alias"
      [autoSize]="false"
      [title]="resolveDefault(column.title, column.alias)"
      [width]="resolveDefault(column.width, 300)"
      [hidden]="resolveDefault(column.hidden, false)"
      [filterable]="resolveDefault(column.filterable, true)"
      [filter]="resolveDefault(column.filter, 'text')"
    >
    <ng-container *ngIf="column.customFilter">
      <ng-container *ngIf="resolveDictionary(column) | async as dictionary">
        <ng-template kendoGridFilterCellTemplate let-filter>
          <app-dropdown-filter
            [filter]="filter"
            [data]="dictionary"
            [valueField]="column.alias"
          ></app-dropdown-filter>
        </ng-template>
      </ng-container>
    </ng-container>

    <ng-template kendoGridCellTemplate let-item>
        <ng-container *ngTemplateOutlet="column.customTemplate || column.template || null; context: {item: item[column.alias]}"></ng-container>
    </ng-template>
    </kendo-grid-column>
</kendo-grid>