<kendo-grid
  [kendoGridBinding]="gridData"
  [sortable]="sortable && !loading && !configuratorOpened && !viewIsDefault()"
  [pageable]="!loading && pageable"
  [filterable]="filterable && !loading && !configuratorOpened && !viewIsDefault()"
  [groupable]="groupable"
  [reorderable]="reorderable && !viewIsDefault()"
  [resizable]="!loading && resizable && !viewIsDefault()"
  [height]="gridHeight"
  [loading]="!!loading"
  [sort]="sort"
  [filter]="filter"
  [pageSize]="resolveDefault(pageSize, 5)"

  (edit)="editHandler($event)"
  (cancel)="cancelHandler($event)"
  (save)="saveHandler($event)"
  (add)="addHandler($event)"
  (remove)="removeHandler($event)"

  (columnResize)="columnResize($event)"
  (filterChange)="filterChange($event)"
  (sortChange)="sortChange($event)"
  (pageChange)="pageChange($event)"
  (columnReorder)="columnReorder($event)"
>

  <!-- Toolbar buttons: New row & Configurator -->

  <ng-template kendoGridToolbarTemplate>
     <!-- Current view -->

     <span *ngIf="gridID !== null && view">View: </span>
     <kendo-dropdownlist
       *ngIf="gridID !== null && view"
       [disabled]="!!loading"
       [data]="getViews()"
       [value]="view.name"
       (selectionChange)="viewSelectionChanged($event)"
     ></kendo-dropdownlist>
 
     <!-- View settings -->
 
     <button
       *ngIf="allowConfigurator && gridID !== null && view"
       class="k-button"
       [disabled]="loading || nowEdits"
       (click)="configuratorOpened = !configuratorOpened"
     >
       <span *ngIf="!configuratorOpened; else apply" class="k-icon k-i-gear k-i-cog k-i-custom"></span>
       <ng-template #apply>
         <span class="k-icon k-i-check k-i-checkmark"></span>
       </ng-template>
       <span>{{ configuratorOpened ? 'Apply' : 'View settings' }}</span>
     </button>
 
     <!-- New view -->
 
     <button
       *ngIf="configuratorOpened"
       [disabled]="loading"
       class="k-button"
       (click)="createNewView()"
     >
       <span class="k-icon k-i-plus"></span>
       <span>New view</span>
     </button>

     <!-- Remove current view -->
 
     <button
       *ngIf="false"
       [disabled]="loading || viewIsDefault()"
       class="k-button"
       (click)="removeCurrentView()"
     >
       <span class="k-icon k-i-minus"></span>
       <span>Remove current view</span>
     </button>

    <kendo-grid-spacer></kendo-grid-spacer>

    <!-- New row -->
    
    <button
      kendoGridAddCommand
      [disabled]="loading || nowEdits || configuratorOpened"
    >
      <span class="k-icon k-i-plus"></span>
      <span>New row</span>
    </button>
   
  </ng-template>

  <!-- Data columns -->

  <kendo-grid-column
    *ngFor="let column of columnConfig"
    [field]="column.alias"
    [autoSize]="false"
    [title]="resolveDefault(column.title, column.alias)"
    [width]="resolveDefault(column.width, 300)"
    [hidden]="configuratorOpened ? false : resolveDefault(column.hidden, false)"
    [locked]="resolveDefault(column.locked, false)"
    [filterable]="resolveDefault(column.filterable, true)"
    [filter]="resolveDefault(column.filter, 'text')"
    [resizable]="!column.locked"
  >
    <ng-template kendoGridHeaderTemplate>
      <div class="header_box">
        <div>{{ resolveDefault(column.title, column.alias) }}</div>

        <div class="configurator_box" *ngIf="configuratorOpened">
          <div class="section">
            <span>Locked</span>
            <input
              [disabled]="viewIsDefault()"
              kendoCheckBox
              type="checkbox"
              [(ngModel)]="column.locked"
              (ngModelChange)="viewCheckboxChanged($event)"
            >
          </div>
  
          <div class="section">
            <span>Hidden</span>
            <input
              [disabled]="viewIsDefault()"
              kendoCheckBox
              type="checkbox"
              [(ngModel)]="column.hidden"
              (ngModelChange)="viewCheckboxChanged($event)"
            >
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template kendoGridToolbarTemplate>
      <button 
        kendoGridAddCommand
        [disabled]="loading || nowEdits"
      >
      <span class="k-icon k-i-plus"></span>
      <span>New row</span>
     </button>
    </ng-template>

    <ng-container *ngIf="column.customFilter">
      <ng-container *ngIf="resolveDictionary(column) | async as dictionary">
        <ng-template kendoGridFilterCellTemplate let-filter>
          <app-dropdown-filter
            [filter]="filter"
            [data]="dictionary"
            [valueField]="column.alias"
          ></app-dropdown-filter>
        </ng-template>
      </ng-container>
    </ng-container>
    <ng-template
      kendoGridCellTemplate
      let-item
    >
      <ng-container *ngTemplateOutlet="column.customTemplate || column.template || null; context: {item: item[column.alias]}"></ng-container>
    </ng-template>
  </kendo-grid-column>

  <!-- Command column -->
  
  <kendo-grid-command-column
    *ngIf="editable || removable"
    title="Commands"
    [width]="200"
    [reorderable]="false"
  >
    <ng-template kendoGridHeaderTemplate>
        <div>Commands</div>
    </ng-template>

    <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button *ngIf="editable" kendoGridEditCommand [primary]="true" [disabled]="configuratorOpened">Edit</button>
      <button *ngIf="removable" kendoGridRemoveCommand [disabled]="configuratorOpened">Remove</button>
      <button kendoGridSaveCommand [disabled]="formGroup?.invalid || configuratorOpened">{{ isNew ? "Add" : "Update" }}</button>
      <button kendoGridCancelCommand>{{ isNew ? "Discard changes" : "Cancel" }}</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>